// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"bgBeige": #F5E7AC,
	"darkPink": #F279B2,
	"lightPink": #F5BCEC,
	"mainPurple": #7D79F2,
	"mainBlue": #6AC4D9,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body {
	font-family: "Fredoka", sans-serif;
	font-optical-sizing: auto;
	font-weight: bolder;
	font-style: normal;
	font-variation-settings:
					"wdth" 100;
}

.buttonStart {
	color: #F279B2;
	width: 100px;
	height: 100px;
}

.card-body {
	outline-color: #F5E7AC;
	color: #F5E7AC;
}